@use '../custom' as *;
@use '../components/mixin' as *;

.testimonials{
    position: relative;
    padding: 0;
    @include gradient;
    &__card{
        background-color: rgba($white,0.8);
        padding: 2rem 1.25rem;
        border-radius: 0.625rem;
        height: auto;
        text-align: center;
        i{
            font-size: 1.25rem;
            color: rgba($primary,0.7);
        }
        .ratings{
            color: rgba($primary,0.7);
            font-size: 1rem;
           
        }
    }
    &__picture{
        width: 6rem;
        height: 6rem;
        position:absolute;
        left: 50%;
        transform:translate(-50%, -50%);
        img{
            border: 0.325rem solid rgba($primary,0.7);
        }

    }
    &__name{

        padding-top: 4rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 500;
        color: white;
        text-transform: capitalize;
        h3{
            padding-top: 0.5rem;

        }
        p{
           
        }
    }
}
.profile_post{
    position: relative;
    padding: 0;
    @include media-breakpoint-down(md) {
        background-color:#fff;
    }
   .profile__picture{
        width: 5rem;
        height: 3.5rem;
        margin: 0.8rem;
        @include media-breakpoint-down(md) {
            width: 4rem;
            height: 2.5rem;
            margin: 0.2rem;
        }
        img{
            border: 1px solid rgba($primary,0.7);
            transform:translate(10%, 0%); 
            
        }
    }
}
.post-section{
    .post-content{
        margin: auto 0 auto 0;
        @include media-breakpoint-down(md) {
            width: 75% !important;
        }
        input{
            @include media-breakpoint-down(md) {
                border-radius: 1px !important;
                border: none  !important;
            }
        }

    }
}
.post-icons{
    button{
        display: inline-flex;
        width: 100%;
        border-color: #fff;
        i{
            font-size: 1.5rem;
            @include media-breakpoint-down(md) {
                font-size: 1rem;
            }
        }
        div{
            display: inline-flex;
            align-items: center;
        }
        span{
            font-size: 14px;
            padding-left: 0.5rem;
        }
    }
}
.home-cards{
    .card-body{
        @include media-breakpoint-down(md) {
            padding:0;
        }
    }
}
